@font-face {
	font-family: Days Sans Black;
	font-display: swap;
	src: url('../fonts/Days Sans Black.woff2') format('woff2'),
		url('../fonts/Days Sans Black.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
