// Заголовки, общие БЄМ блоки и проче...
.button {
	border-radius: rem(10);
}
.title {
	font-family: $ff;
	@include adaptiveValue('font-size', 32, 20);
	line-height: math.div(36, 32);
	text-align: center;
	@include adaptiveValue('margin-bottom', 40, 20);
}

.baloon {
	h2 {
		font-family: $ff;
		font-weight: 700;
		font-size: rem(14);
		margin-bottom: rem(5);
	}
	p {
		font-family: $fontFamily;
	}
}
