#map {
}
.map {
	width: 100%;
	height: rem(600);
}

.contacts {
	@include adaptiveValue('padding-top', 40, 20);
	position: relative;
	&__container {
	}

	&__title {
	}

	&__block {
	}
}

.block-contacts {
	@media (max-width: $mobile) {
		position: relative;
		margin-bottom: rem(20);
	}
	position: absolute;
	margin-top: rem(40);
	padding: rem(30);
	z-index: 1;
	background-color: #fff;
	border-radius: rem(10);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
	&__address {
		display: flex;
		align-items: center;
		font-size: rem(16);
		margin-bottom: rem(40);
		&::before {
			margin-right: rem(10);
			font-size: rem(20);
			color: $accentColor;
		}
	}
	&__title {
		font-size: rem(20);
		font-weight: 700;
		margin-bottom: rem(25);
	}

	&__list {
	}

	&__item {
	}

	&__btn {
		margin-top: rem(20);
		padding: rem(13);
		background-color: $accentColor;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: rem(16);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				color: #000;
				background-color: $accentHover;
			}
		}
	}
}
.contact-item {
	display: flex;
	flex-direction: column;
	gap: rem(10);
	&:not(:last-child) {
		margin-bottom: rem(30);
	}
	&__person {
		font-size: rem(20);
	}

	&__tel {
		font-size: rem(16);
		display: flex;
		align-items: center;

		&::before {
			margin-right: rem(10);
			font-size: rem(20);
			color: $accentColor;
		}

		:before {
		}
	}

	&__email {
		font-size: rem(16);
		display: flex;
		&::before {
			margin-right: rem(10);
			font-size: rem(20);
			color: $accentColor;
		}
	}
}
