//====================================================================================================
.footer {
	background-color: $darkBg;
	padding: rem(28) 0;
	color: #fff;
	&__container {
	}

	&__copyright {
		font-family: $ff;
		text-align: center;

		@include adaptiveValue('font-size', 26, 20);
	}
}

//====================================================================================================
